<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>留言板</title>
		<link rel="stylesheet" href="bootstrap.css" />
		<script type="text/javascript" src="jquery.js" ></script>
		<script type="text/javascript" src="bootstrap.min.js" ></script>
		<script type="text/javascript" src="vue.js" ></script>
		<script type="text/javascript">
			window.onload=function(){
				new Vue({
				el:'#box',
				data:{
					myData:[],
					username:'',
					age:'',
					nowIndex:-100,
					title:''
					
				},
				methods:{
					add:function(){
						this.myData.push({
							name:this.username,
							age:this.age
						})
						this.username='';
						this.age='';
					},
					del:function(n){
						if(n==-1){
							this.myData=[];
							
						}else{
							this.myData.splice(n,1);
							this.title="确认删除么？"
							
						}
					},
					change:function(n){
						if(n==-1){
							this.nowIndex=-1;
							this.title="确认删除全部么？";
						}else{
							this.nowIndex=n;
							this.title="确认删除么？"
						}
					}
				}
			})
			}
			
		</script>
	</head>
	<body>
		<div class="container" id="box">
			<form role="form">
				<div class="form-group">
					<label for="username">用户名：</label>
					<input  type="text"  id="username" class="form-control" placeholder="输入用户名" v-model="username"/>
				</div>
				<div class="form-group">
					<label for="age">年&emsp;龄：</label>
					<input  id="age" type="text" class="form-control" placeholder="输入年龄" v-model="age"/>
				</div>
				<div class="form-group">
					<input type="button" value="添加"  class="btn btn-primary btn-sm" v-on:click="add()"/>
					<input type="reset"  value="重置"  class="btn btn-danger btn-sm"/>
				</div>
			</form>
			<table class="table table-bordered table-hover">
				<caption class="h3 text-center text-danger">用户信息表</caption>
				<thead>
					<tr >
						<th class="text-center">序号</th>
						<th class="text-center">姓名</th>
						<th class="text-center">年龄</th>
						<th class="text-center">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center" v-show="myData.length!=0" v-for="(item,index) in myData">
						<td>{{index+1}}</td>
						<td>{{item.name}}</td>
						<td>{{item.age}}</td>
						<td>
							<input type="button" value="删除" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#layer" v-on:click="change(index)"/>
						</td>
					</tr>
					<tr v-show="myData.length!=0">
						<td colspan="4" class="text-right">
							<input type="button" value="删除全部" class="btn btn-danger btn-xs" v-on:click="change(-1)" data-toggle="modal" data-target="#layer" />
						</td>
					</tr>
					<tr v-show="myData.length==0">
						<td colspan="4" class="text-center text-muted">
							暂无数据....
						</td>
					</tr>
				</tbody>
			</table>
			<div role="dialog" class="modal fade " id="layer">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">{{title}}</h4>
						</div>
						<div class="modal-body text-right">
							<button class="btn btn-danger btn-sm" data-dismiss="modal" v-on:click="del(nowIndex)">确认</button>
							<button class="btn btn-primary btn-sm" data-dismiss="modal" >取消</button>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</body>
</html>
